<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="app">
      <input id="new-member" @change="submit" v-model="newMember">
      <section id="buttons" class="clearfix">
        <button @click="group">GROUP</button>
        <button @click="sort">SORT</button>
      </section>
      <ul id="members">
        <li v-for="member in members" :class="'team'+member.team" @click="remove(member)">
          <p v-text="member.name"></p>
        </li>
      </ul>
    </div>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
